* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

body {
  width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*margin-top: 19px;*/
  /*margin-right: 300px;*/
}

.logo__image {
  width: 70px;
  height: 60px;
  margin-left: 120px;
}

.logo__title {
  /*margin-top: 19px;*/
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  color: #f7f7f7;
}

.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  /*margin-top: 19px;*/
  margin-left: 470px;
}

.nav__list-item {
  justify-content: center;
  margin: 0 10px;
}

.nav__list-link {
  margin: 2px 20px 0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 60px;
  color: #f7f7f7;
  position: inherit;
  top: -9px;
}

.nav__list-item:last-child {
  width: 120px;
  height: 50px;
  border: 2px solid #cd6326;
  background-color: transparent;
  border-radius: 5px;
  position: relative;
  left: 22px;
}

.search {
  margin-top: 17px;
  margin-left: 5px;
}

.survival {
  height: 780px;
  background: url("./assets/hero-bg.png") no-repeat;
  background-size: cover;
}

.survival__content {
  width: 274px;
  margin-left: 120px;
}

.survival__title {
  margin-top: 115px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  color: #cd6326;
}

.survival__text {
  margin-top: 50px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
}

.survival__button {
  margin-top: 48px;
  width: 160px;
  height: 60px;
  background: #cd6326;
  border: 2px solid #cd6326;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #f7f7f7;
}

.articles {
  height: 1368px;
  background: #cccccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articles__info {
  text-align: center;
  margin-top: -140px;
}

.articles__title {
  margin-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  color: #333333;
}

.articles__text {
  margin-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #666666;
}

.articles__blog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  position: relative;
}

.articles__blog-item {
  display: flex;
  justify-content: center;
}

.articles__blog-item:nth-child(even) {
  margin: 0 60px;
}

.articles__blog-image {
  position: relative;
}

.articles__blog-title {
  position: absolute;
  bottom: 77px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #f7f7f7;
  text-align: center;
}

.articles__blog-text {
  position: absolute;
  bottom: 40px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
  color: #f7f7f7;
  text-align: center;
}

.notified {
  margin-top: 240px;
}

.notified__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 40px;
  text-align: center;
  color: #333333;
}

.notified-form {
  margin-top: 59px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.notified-input {
  width: 540px;
  height: 60px;
  padding-left: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #666666;
  background: #cccccc;
  border: 1px solid #666666;
  /* border-radius: 0px 5px 5px 0px; */
}

.notified-btn {
  width: 120px;
  height: 60px;
  padding-top: 1px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;
  background: #cd6326;
  border: 1px solid #cd6326;
  border-radius: 0px 5px 5px 0px;
}

.footer {
  height: 359px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(assets/footer-bg.jpg);
}

.contacts {
  /*margin: 0 120px;*/
  margin-left: 140px;
  margin-right: 120px;
}

.contacts__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  /*justify-content: space-around;*/
}

.contacts__list-item {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 60px;
  color: #f7f7f7;
}

.contacts__list-item:nth-child(even) {
  margin: 0 88px;
}

.contacts__list-link {
  text-decoration: none;
}

.social {
  margin-right: 120px;
}

.social__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.social__list-item:nth-child(3) {
  margin-left: 27px;
}
.social__list-item:nth-child(even) {
  margin-left: 27px;
}
